.yui3-container-highlight {
	border:2px dashed #000 !important;
	/*box-shadow:0 0 7px rgba(0,0,0,.4) !important;
	-webkit-transition:box-shadow 0.1s !important;*/
}

.yui3-elem-highlight{
	border:1px solid #000 !important;
	/*background:#dfdfdf !important;
	color:#444 !important;
	font-weight:strong !important;
	box-shadow:0 0 8px rgba(0,0,0,.6) !important;
	-webkit-transition:all .1s ease-in;	*/
}

.yui3-bright-highlight {
	border:1px solid #fff !important;
	/*background:#dfdfdf !important;
	color:#444 !important;
	font-weight:strong !important;
	box-shadow:0 1px 7px rgba(0,0,0,.4) !important;*/
}
